/*****************************************************************
	ID's SECTION
*****************************************************************/

/*****************************************************************/

#about {
	text-align: center;
	margin-bottom: 10%;
}

#frontpage {
	height: 100%;
	background-image: url('../img/landingpage.jpg');
	color: #2E3958;
}

#frontpage a {
	text-decoration: none;
	color: #2E3958;
}

#frontpage h1 {
	font-size: 3em;
}

#frontpage h2 {
	font-size: 4em;
	text-align: left;
	font-family: curier new;
	font-style: italic;
	margin: 4% 8%;
}

#frontpage ul {
	margin-top: 5%;
}

#frontpage ul img {
	width: 40%;
	height: 40%;
}

#frontpage div > img {
	width: 55%;
}

/*****************************************************************/

#intro {
	margin-top: 10%;
	background-color: #F2F2F2;
}

#programs {
	text-align: center;
}



/*****************************************************************
	CLASSES SECTION
*****************************************************************/

.header {
	position: fixed;
	background-color: white;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	font-size: 20px;
	z-index: 10;
	width: 90%;
}

.header img {
	width: 15%;
}

.header ul {
	padding-top: 2%;
}



/*****************************************************************
	TAGS SECTION
*****************************************************************/



body {
	padding-top: 0;
}